html, body, p {
    margin: 0; padding: 0;
}

body {
    font-family: 'Chakra Petch', sans-serif; font-size: 32px;
}

img {
    vertical-align: middle;
}

#container {
    min-height: 100vh;
    display: flex; flex-direction: column; justify-content: center;
}

#avatar {
    display: flex; justify-content: center;

    margin-top: 20px;
}
#avatar img {
    border-radius: 50%;

    border: 4px solid blueviolet;
    padding: 4px;
    background-clip: content-box;
    background-color: #FFF;

    width: 180px; height: 180px;
}

#name {
    display: flex; flex-direction: row; justify-content: center;

    margin-top: 30px;

    animation: color-change 3s infinite alternate linear;
}
#name p {
    padding: 0 4px;
}

#social {
    display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;

    margin-top: 10px;
}
#social a {
    font-size: 22px;
    color: blueviolet;

    margin: 0 10px;
}

#companies, #other {
    display: flex; flex-direction: column;

    margin-top: 10px;
}
#companies a, #other a {
    text-align: center;
    font-size: 13px;
    padding: 4px;
}
#companies a {
    color: blueviolet;
}
#other a {
    color: orangered;
}

#logos {
    display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;

    margin-top: 20px; margin-bottom: 20px;
}
#logos img {
    width: 90px; height: 90px;

    margin: 0 6px;
}

@media only screen and (max-width: 320px) {

}

@keyframes color-change {
    0% { color: black; }
    50% { color: blueviolet; }
    100% { color: black; }
}

.colorize {
    filter: brightness(0);
}
