html, body, p {
    margin: 0; padding: 0;
}

body {
    font-family: 'Chakra Petch', sans-serif; font-size: 32px;
}

img {
    vertical-align: middle;
}

#container {
    min-height: 100vh;
    display: flex; flex-direction: column; justify-content: center;
}

#info {
    display: flex; flex-direction: column; justify-content: center;
    padding: 10px;
}
#info p {
    font-size: 20px;
    align-self: center;
    padding: 4px;
}

#cards {
    display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;
}

#cards .card {
    display: flex; flex-direction: row; justify-content: center;
    margin: 14px;
}

#cards .front, #cards .back, #cards img {
    border-radius: 4px;
}

#cards .front, #cards .back {
    -webkit-box-shadow: 0px 0px 4px 0px #666; box-shadow: 0px 0px 4px 0px #666;
}

#cards .front img {
    /* 1500 x 2100 */
    width: 225px; height: 315; /* 21% */
}

#cards .back img {
    width: 120px; height: 168; /* 8% */
}

#cards .front {
    z-index: 2;
}

#cards .back {
    /* transform: perspective(1000px) rotateY(-25deg); */
    /* transform: rotate(5deg); */

    z-index: 1;
    align-self: flex-end;
    margin-left: -12px; margin-bottom: 6px;
}